Converter/.idea/workspace.xml
Converter/.idea/modules.xml
Converter/.idea/misc.xml
Converter/.idea/Converter.iml
Resolver/fja/.idea/workspace.xml
Resolver/production/
Resolver/out/
Resolver/.idea/workspace.xml
Converter/.idea/workspace.xml
Generator/target/
Generator/.idea/workspace.xml
Editor/.idea/

is-upload.zip
is-upload/*.js
is-upload/*.css

_build

*.new.qdef
